:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon {
  cursor: pointer;
}

.error-msg {
  color: #ff0000;
}

.theme.light {
  background-color: #fff;
  color: #000;
}

.theme.dark {
  background-color: #000;
  color: #fff;
}